<div class="container text-center">
  <!-- Button to Show Dialog -->
  <button mat-raised-button color="primary" (click)="togglePopup('download')">
      <mat-icon>cloud_download</mat-icon> Download Template
  </button>

  <!-- Upload Button -->
  <button mat-raised-button color="accent" class="ml-2" (click)="togglePopup('upload')">
      <mat-icon>upload</mat-icon> Upload Course XLS File
  </button>
</div>

<!-- Pop-up Dialog -->
<div class="bg-white mt-3" *ngIf="showPopup">
  <mat-card class="form-container card shadow-lg">
      <h4 class="text-center">Download Course Template</h4>
      <form>
          <div class="container">
              <div class="row">
                  <!-- Select College -->
                  <div class="col-md-6 col-sm-6">
                      <mat-form-field class="full-width">
                          <mat-label>Select College</mat-label>
                          <mat-select [(ngModel)]="selectedCollege" (ngModelChange)="onSelectCollegeGetAcademicYear($event)" name="selectedCollege">
                              <mat-option *ngFor="let college of colleges" [value]="college.collegeTenantId">
                                  {{ college.collegeName }}
                              </mat-option>
                          </mat-select>
                      </mat-form-field>
                  </div>

                  <!-- Academic Year -->
                  <div class="col-md-6 col-sm-6">
                      <mat-form-field class="full-width">
                          <mat-label>Select Academic Year</mat-label>
                          <mat-select [(ngModel)]="selectedAcademicYear" name="selectedAcademicYear" (ngModelChange)="onSelectAcademicYearGetDegreeTypes()">
                              <mat-option *ngFor="let year of academicYears" [value]="year">
                                  {{ year }}
                              </mat-option>
                          </mat-select>
                      </mat-form-field>
                  </div>

                  <!-- Degree Type -->
                  <div class="col-md-6 col-sm-6">
                      <mat-form-field class="full-width">
                          <mat-label>Select Degree Type</mat-label>
                          <mat-select [(ngModel)]="selectedDegreeType" name="selectedDegreeType" (ngModelChange)="onSelectDegreeTypeGetDegrees()">
                              <mat-option *ngFor="let degreeType of degreeTypes" [value]="degreeType">
                                  {{ degreeType }}
                              </mat-option>
                          </mat-select>
                      </mat-form-field>
                  </div>

                  <!-- Degree Name -->
                  <div class="col-md-6 col-sm-6">
                      <mat-form-field>
                          <mat-label>Select Degree Name</mat-label>
                          <mat-select [(ngModel)]="selectedDegreeName" name="selectedDegreeName" (ngModelChange)="onSelectDegreeGetDepartments()">
                              <mat-option *ngFor="let degree of degreeNames" [value]="degree">
                                  {{ degree }}
                              </mat-option>
                          </mat-select>
                      </mat-form-field>
                  </div>

                  <!-- Department -->
                  <div class="col-md-6 col-sm-6">
                      <mat-form-field>
                          <mat-label>Select Department</mat-label>
                          <mat-select [(ngModel)]="selectedDeptId" name="selectedDeptId" (ngModelChange)="onSelectDepartmentGetTerms()">
                              <mat-option *ngFor="let dept of deptIds" [value]="dept">
                                  {{ dept }}
                              </mat-option>
                          </mat-select>
                      </mat-form-field>
                  </div>

                  <!-- Term -->
                  <div class="col-md-6 col-sm-6">
                      <mat-form-field>
                          <mat-label>Select Term</mat-label>
                          <mat-select [(ngModel)]="selectedTermName" name="selectedTermName">
                              <mat-option *ngFor="let term of termsNames" [value]="term.termName">
                                  {{ term.termName }}
                              </mat-option>
                          </mat-select>
                      </mat-form-field>
                  </div>
              </div>

              <!-- Note -->
              <div class="mt-2">
                  <p class="text-muted">
                      <strong>Note:</strong> Please select all the required fields (College, Academic Year, Degree Type, Degree Name, Department, and respective Term) before downloading the template.
                  </p>
              </div>

              <!-- Dialog Actions -->
              <div mat-dialog-actions align="end">
                  <button mat-raised-button color="primary" class="m-2" (click)="downloadTemplate()">
                      <mat-icon>download</mat-icon> Download
                  </button>
                  <button mat-raised-button color="warn" class="m-2" type="button" (click)="showPopup = false">
                      <mat-icon>cancel</mat-icon> Cancel
                  </button>
              </div>
          </div>
      </form>
  </mat-card>
</div>

<div class="container bg-white mt-3" *ngIf="showUploadPopup">
    <mat-card class="form-container card shadow-lg">
        <h4 class="text-center">Upload Course Template</h4>
        <form>
            <div class="container">
                <div class="row">
                    <!-- File Input -->
                    <div class="col-md-12">
                        <div class="full-width">
                            <input type="file" (change)="onFileSelected($event)" accept=".xls, .xlsx" class="form-control">
                        </div>
                        
                    </div>
                </div>
  
                <!-- Dialog Actions -->
                <div mat-dialog-actions align="end">
                    <button mat-raised-button color="primary" class="m-2" (click)="uploadFile()">
                        <mat-icon>cloud_upload</mat-icon> Upload
                    </button>
                    <button mat-raised-button color="warn" class="m-2" type="button" (click)="resetForm()">
                        <mat-icon>refresh</mat-icon> Reset
                    </button>
                    <button mat-raised-button color="accent" class="m-2" type="button" (click)="showUploadPopup = false">
                        <mat-icon>cancel</mat-icon> Cancel
                    </button>
                </div>
            </div>
        </form>
    </mat-card>
  </div>



  <div *ngIf="!showUploadPopup && !showPopup" class="table-container">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 custom-table">
  
      <!-- Academic Year -->
      <ng-container matColumnDef="academicYear">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Academic Year</th>
        <td mat-cell *matCellDef="let element">{{ element.academicYear }}</td>
      </ng-container>
  
      <!-- Degree Type -->
      <ng-container matColumnDef="degreeType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Degree Type</th>
        <td mat-cell *matCellDef="let element">{{ element.degreeType }}</td>
      </ng-container>
  
      <!-- Degree Name -->
      <ng-container matColumnDef="degreeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Degree Name</th>
        <td mat-cell *matCellDef="let element">{{ element.degreeName }}</td>
      </ng-container>
  
      <!-- Dept ID -->
      <ng-container matColumnDef="deptId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Dept ID</th>
        <td mat-cell *matCellDef="let element">{{ element.deptId }}</td>
      </ng-container>
  
      <!-- Term Name -->
      <ng-container matColumnDef="termName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Term Name</th>
        <td mat-cell *matCellDef="let element">{{ element.termName }}</td>
      </ng-container>
  
      <!-- College Tenant ID -->
      <ng-container matColumnDef="collegeTenantId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>College Tenant ID</th>
        <td mat-cell *matCellDef="let element">{{ element.collegeTenantId }}</td>
      </ng-container>
  
      <!-- Courses (Nested Table) -->
      <ng-container matColumnDef="courses">
        <th mat-header-cell *matHeaderCellDef>Courses</th>
        <td mat-cell *matCellDef="let element">
          <table mat-table [dataSource]="element.courses" class="mat-elevation-z4 nested-table">
            <ng-container matColumnDef="courseCode">
              <th mat-header-cell *matHeaderCellDef>Code</th>
              <td mat-cell *matCellDef="let course">{{ course.courseCode }}</td>
            </ng-container>
            <ng-container matColumnDef="courseName">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let course">{{ course.courseName }}</td>
            </ng-container>
            <ng-container matColumnDef="courseType">
              <th mat-header-cell *matHeaderCellDef>Type</th>
              <td mat-cell *matCellDef="let course">{{ course.courseType }}</td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="['courseCode', 'courseName', 'courseType']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['courseCode', 'courseName', 'courseType'];"></tr>
          </table>
        </td>
      </ng-container>
  
      <!-- Table Headers and Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  
  
  
  

  