.sidenav-container {
    height: 100vh;
  }
  
  .sidenav {
    width: 250px;
    background: #f8f9fa;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  button {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: start;
    width: 100%;
    font-weight: 600;
    text-align: left;
  }
  
  mat-icon {
    font-size: 20px;
  }
  