.sidenav-container {
    height: 80vh;
  }
  
  .sidenav {
    width: 250px;
    background: #f8f9fa;
  
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar {
    display: flex;
    flex-direction: column;
    gap: 10;

  }
  
  button {
    
    display: flex;
    align-items: center;
    gap:20;
    justify-content: start;
    width: 100%;
    font-weight: 500;
    text-align: left;
    border-radius: 0;
    border-bottom: 1px solid black;
    margin-top: 2px;
  
  }
  
  mat-icon {
    font-size: 20px;
  }
  