<div class="text-center" *ngIf="!isShowForm">
  <button mat-flat-button color="accent" class="mb-3" (click)="addUser()">
    <mat-icon>add</mat-icon> Add User
  </button>
</div>

<div *ngIf="isShowForm">
  <mat-card class="form-container card shadow-lg">
    <h2 class="text-center">Register User</h2>
    <form #userForm="ngForm">

      <div class="container">
        <div class="row">

          <!-- Select College -->
          <div class="col-md-4 col-sm-12">
            <mat-form-field class="full-width">
              <mat-label>Select College</mat-label>
              <mat-select [(ngModel)]="user.collegeTenantId" name="collegeTenantId">
                <mat-option *ngFor="let college of colleges" [value]="college.collegeTenantId">
                  {{ college.collegeName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4 col-sm-12">
            <mat-form-field class="full-width">
              <mat-label>Select Roles</mat-label>
              <mat-select multiple [(ngModel)]="user.roles" name="roles">
                <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>

        <div class="row" *ngIf="user.roles">


          <div class="col-md-4 col-sm-12" *ngIf="user.roles?.includes(Role.STUDENT)">
            <mat-form-field class="full-width">
              <mat-label>Roll Number</mat-label>
              <input matInput type="text" [(ngModel)]="user.rollNumber" name="username" required>
            </mat-form-field>
          </div>


          <div class="col-md-4 col-sm-12" *ngIf="!user.roles?.includes(Role.STUDENT)">
            <mat-form-field class="full-width">
              <mat-label>EmployeeID</mat-label>
              <input matInput type="text" [(ngModel)]="user.employeeId" name="username" required>
            </mat-form-field>
          </div>

          <div class="col-md-4 col-sm-12">
            <mat-form-field class="full-width">
              <mat-label>Username</mat-label>
              <input matInput type="text" [(ngModel)]="user.username" name="username" required>
            </mat-form-field>
          </div>

          <div class="col-md-4 col-sm-12">
            <mat-form-field class="full-width">
              <mat-label>First Name</mat-label>
              <input matInput type="text" [(ngModel)]="user.firstName" name="firstName" required>
            </mat-form-field>
          </div>

          <div class="col-md-4 col-sm-12">
            <mat-form-field class="full-width">
              <mat-label>Last Name</mat-label>
              <input matInput type="text" [(ngModel)]="user.lastName" name="lastName" required>
            </mat-form-field>
          </div>

          <div class="col-md-4 col-sm-12">
            <mat-form-field class="full-width">
              <mat-label>Gender</mat-label>
              <mat-select [(ngModel)]="user.gender" name="gender" required>
                <mat-option value="Male">Male</mat-option>
                <mat-option value="Female">Female</mat-option>
                <mat-option value="Other">Other</mat-option>
              </mat-select>
            </mat-form-field>
          </div>


          <div class="col-md-4 col-sm-12">
            <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input matInput type="email" [(ngModel)]="user.email" name="email" required>
            </mat-form-field>
          </div>

          <div class="col-md-4 col-sm-12">
            <mat-form-field class="full-width">
              <mat-label>Mobile Number</mat-label>
              <input matInput type="tel" [(ngModel)]="user.mobileNumber" name="mobileNumber" required>
            </mat-form-field>
          </div>

          <div class="col-md-4 col-sm-12">
            <mat-form-field class="full-width">
              <mat-label>Father's Name</mat-label>
              <input matInput type="text" [(ngModel)]="user.fatherName" name="fatherName">
            </mat-form-field>
          </div>

          <div class="col-md-4 col-sm-12">
            <mat-form-field class="full-width">
              <mat-label>Mother's Name</mat-label>
              <input matInput type="text" [(ngModel)]="user.motherName" name="motherName">
            </mat-form-field>
          </div>

          <div class="col-md-4 col-sm-12">
            <mat-form-field class="full-width">
              <mat-label>Father's Mobile Number</mat-label>
              <input matInput type="tel" [(ngModel)]="user.fatherMobileNumber" name="fatherMobileNumber">
            </mat-form-field>
          </div>


          <div class="col-md-4 col-sm-12">
            <mat-form-field class="full-width">
              <mat-label>Select Blood Group</mat-label>
              <mat-select [(ngModel)]="user.bloodGroup" name="bloodGroup">
                <mat-option *ngFor="let bloodGroup of bloodGroups" [value]="bloodGroup">
                  {{ bloodGroup }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>






          <div class="col-md-4 col-sm-12">
            <mat-form-field class="full-width">
              <mat-label>Date of Birth</mat-label>
              <input matInput [matDatepicker]="pickerDob" [(ngModel)]="user.dob" name="dob">
              <mat-datepicker-toggle matSuffix [for]="pickerDob"></mat-datepicker-toggle>
              <mat-datepicker #pickerDob></mat-datepicker>
            </mat-form-field>
          </div>


          <!-- Add this inside your form, after the personal details section -->
          <div class="row" *ngIf="user.roles">
            <div class="col-12">
              <h4>Address Details</h4>
              <mat-accordion>
                <mat-expansion-panel *ngFor="let address of user.userAddressDetails; let i = index">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{ address.type || 'New Address' }}
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="row">
                    <div class="col-md-3 col-sm-12">
                      <mat-form-field class="full-width">
                        <mat-label>Address Type</mat-label>
                        <mat-select [(ngModel)]="address.type" [name]="'addressType' + i">
                          <mat-option value="HOME">Home</mat-option>
                          <mat-option value="WORK">Work</mat-option>
                          <mat-option value="PERMANENT">Permanent</mat-option>
                          <mat-option value="TEMPORARY">Temporary</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="col-md-9 col-sm-12">
                      <mat-form-field class="full-width">
                        <mat-label>Street Address</mat-label>
                        <input matInput [(ngModel)]="address.street" [name]="'street' + i" required>
                      </mat-form-field>
                    </div>

                    <div class="col-md-4 col-sm-12">
                      <mat-form-field class="full-width">
                        <mat-label>City</mat-label>
                        <input matInput [(ngModel)]="address.city" [name]="'city' + i" required>
                      </mat-form-field>
                    </div>

                    <div class="col-md-4 col-sm-12">
                      <mat-form-field class="full-width">
                        <mat-label>State</mat-label>
                        <input matInput [(ngModel)]="address.state" [name]="'state' + i" required>
                      </mat-form-field>
                    </div>

                    <div class="col-md-4 col-sm-12">
                      <mat-form-field class="full-width">
                        <mat-label>Country</mat-label>
                        <input matInput [(ngModel)]="address.country" [name]="'country' + i" required>
                      </mat-form-field>
                    </div>

                    <div class="col-md-4 col-sm-12">
                      <mat-form-field class="full-width">
                        <mat-label>PIN Code</mat-label>
                        <input matInput [(ngModel)]="address.pinCode" [name]="'pinCode' + i" required>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="text-right">
                    <button mat-button color="warn" (click)="removeAddress(i)">
                      <mat-icon>delete</mat-icon> Remove
                    </button>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>

              <div class="text-center mt-2">
                <button mat-raised-button color="primary" (click)="addNewAddress()">
                  <mat-icon>add</mat-icon> Add Address
                </button>
              </div>
            </div>
          </div>


          <!-- Qualification Section -->
          <div class="row" *ngIf="user.roles">
            <div class="col-12">
              <h4>Qualification Details</h4>
              <mat-accordion>
                <mat-expansion-panel *ngFor="let qualification of user.qualificationDetails; let i = index">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{ qualification.qualificationLevel || 'New Qualification' }}
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="row">
                    <div class="col-md-4 col-sm-12">
                      <mat-form-field class="full-width">
                        <mat-label>Qualification Level</mat-label>
                        <input matInput [(ngModel)]="qualification.qualificationLevel" [name]="'qualificationLevel' + i"
                          required>
                      </mat-form-field>
                    </div>

                    <div class="col-md-4 col-sm-12">
                      <mat-form-field class="full-width">
                        <mat-label>Board/University</mat-label>
                        <input matInput [(ngModel)]="qualification.boardOrUniversity" [name]="'boardOrUniversity' + i"
                          required>
                      </mat-form-field>
                    </div>

                    <div class="col-md-2 col-sm-6">
                      <mat-form-field class="full-width">
                        <mat-label>Max Marks</mat-label>
                        <input matInput type="number" [(ngModel)]="qualification.maxMarks"
                          (change)="qualification.setMaxMarks(qualification.maxMarks)" [name]="'maxMarks' + i">
                      </mat-form-field>
                    </div>

                    <div class="col-md-2 col-sm-6">
                      <mat-form-field class="full-width">
                        <mat-label>Obtained Marks</mat-label>
                        <input matInput type="number" [(ngModel)]="qualification.obtainedMarks"
                          (change)="qualification.setObtainedMarks(qualification.obtainedMarks)"
                          [name]="'obtainedMarks' + i">
                      </mat-form-field>
                    </div>

                    <div class="col-md-3 col-sm-6">
                      <mat-form-field class="full-width">
                        <mat-label>Percentage</mat-label>
                        <input matInput [(ngModel)]="qualification.percentage" [name]="'percentage' + i" readonly>
                      </mat-form-field>
                    </div>

                    <div class="col-md-3 col-sm-6">
                      <mat-form-field class="full-width">
                        <mat-label>CGPA</mat-label>
                        <input matInput [(ngModel)]="qualification.cgpa" [name]="'cgpa' + i" readonly>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="text-right">
                    <button mat-button color="warn" (click)="removeQualification(i)">
                      <mat-icon>delete</mat-icon> Remove
                    </button>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>

              <div class="text-center mt-2">
                <button mat-raised-button color="primary" (click)="addNewQualification()">
                  <mat-icon>add</mat-icon> Add Qualification
                </button>
              </div>
            </div>
          </div>







          <div class="col-md-4 col-sm-12">
            <mat-form-field class="full-width">
              <mat-label>Joining Date</mat-label>
              <input matInput [matDatepicker]="pickerJoining" [(ngModel)]="user.joiningDate" name="joiningDate">
              <mat-datepicker-toggle matSuffix [for]="pickerJoining"></mat-datepicker-toggle>
              <mat-datepicker #pickerJoining></mat-datepicker>
            </mat-form-field>
          </div>






        </div>



        <!-- Button Section -->


        <div mat-dialog-actions align="end" *ngIf="user.roles">
          <button mat-raised-button color="primary" class="m-2" (click)="saveUser()">
            <label *ngIf="!isUpdate">Save</label>
            <label *ngIf="isUpdate">Update</label>

          </button>
          <button mat-raised-button color="accent" class="m-2" type="button" (click)="onReset()">Reset</button>
          <button mat-raised-button color="warn" class="m-2" type="button" (click)="onCancel()">Cancel</button>
        </div>

      </div>

    </form>

  </mat-card>

</div>

<div class="container card shadow-lg" *ngIf="!isShowForm">
  <!-- Search Filter -->
  <mat-form-field class="filter">
    <mat-label>Search Users</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Type to search...">
  </mat-form-field>



  <!-- User Table -->
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- ID Column -->
    <!-- <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let user">{{ user.id }}</td>
    </ng-container> -->

    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
      <td mat-cell *matCellDef="let user">{{ user.username }}</td>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
      <td mat-cell *matCellDef="let user">{{ user.firstName }}</td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
      <td mat-cell *matCellDef="let user">{{ user.lastName }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let user">{{ user.email }}</td>
    </ng-container>

    <!-- Mobile Number Column -->
    <ng-container matColumnDef="mobileNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</th>
      <td mat-cell *matCellDef="let user">{{ user.mobileNumber }}</td>
    </ng-container>

    <!-- Roles Column -->
    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef>Roles</th>
      <td mat-cell *matCellDef="let user">{{ user.roles.join(', ') }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let user">
        <button mat-button color="primary" (click)="editUser(user)"><i class="fas fa-edit"></i> </button>
        <button mat-button color="warn" (click)="deleteUser(user.id)"> <i class="fas fa-trash"></i> </button>
      </td>
    </ng-container>

    <!-- Table Header -->
    <thead>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    </thead>

    <!-- Table Body -->
    <tbody>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </tbody>
  </table>

  <!-- Pagination -->
  <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
</div>