/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success-snackbar {
    background-color: #4caf50; /* Green */
    color: white;
  }
  
  .error-snackbar {
    background-color: #f44336; /* Red */
    color: white;
  }
  

  .form-container {
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  
  .full-width {
    width: 100%;
  }
  
  .container {
    width: 100%;
    margin: 20px auto;
  }
  
  mat-form-field.filter {
    width: 100%;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
  }
  
  .mat-elevation-z8 {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  